body{
    margin:0;
    font-family:Arial,sans-serif;
}

.site-main{
    max-width:1200px;
    margin:auto;
    padding:40px;
}



.post{
    max-width:800px;
    margin:auto;
}

.post img{
    max-width:100%;
    height:auto;
}

.post h1{
    margin-top:20px;
}

.post p{
    color:#666;
    line-height:1.7;
}